* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.sidebar {
  height: 100vh;
  width: 300px;
  background-color: rgb(0, 101, 153);
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  position: fixed;
}
.logo {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  cursor: pointer;
}
.content h1 {
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navegation ul > li {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.conteudo {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}
.banner {
  height: 500px;
  width: 85vw;
  background-image: url(../Images/banner2.jpg);
  background-size: cover;
  background-position: center;
}
.minibar {
  height: 400px;
  width: 300px;
  background-image: url(../Images/banner3.jpg);
  background-size: cover;
  background-position: center;
}
.bemVindo {
  font-size: 30px;
  color: rgb(0, 101, 153);
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 70px;
}
.bemVindo h1 {
  margin: 40px 0px 40px 0px;
}
.minibar-description {
  position: absolute;
  left: 370px;
  padding-right: 30px;
  padding-left: 30px;
}
.minibar-description p {
  font-size: 22px;
  color: black;
  margin-bottom: 30px;
}
.btn {
  width: 180px;
  height: 50px;
  background-color: rgb(0, 101, 153);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.sobresessao h1 {
  font-size: 48px;
  font-weight: 600;
  color: rgb(0, 101, 153);
  margin-top: 20px;
  margin-left: 65px;
}
.banner3 {
  width: 300px;
  height: 400px;
  background-image: url(../Images/banner4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  margin-right: 30px;
}
.description3 p {
  font-size: 20px;
  padding: 20px 30px 0px 0px;
  margin-left: 65px;
  font-weight: 200;
}
.doces1 {
  display: block;
  padding-right: 50px;
  padding-bottom: 40px;
  margin-top: 50px;
}
.doces1 h2 {
  font-size: 48px;
  font-weight: 200;
  color: rgb(0, 101, 153);
  margin-top: 150px;
  margin-left: 65px;
}
.images-doces {
  width: 80vw;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img1 {
  width: 200px;
  height: 200px;
  background-image: url(../Images/galeria1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 60px;
}
.img2 {
  width: 200px;
  height: 200px;
  background-image: url(../Images/galeria2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.img3 {
  width: 200px;
  height: 200px;
  background-image: url(../Images/galeria3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.img4 {
  width: 200px;
  height: 200px;
  background-image: url(../Images/galeria4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.img5 {
  width: 200px;
  height: 200px;
  background-image: url(../Images/galeria5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.doces2 h2 {
  font-size: 48px;
  font-weight: 200;
  color: rgb(0, 101, 153);
  margin-top: 30px;
  margin-left: 65px;
}
.img6 {
  width: 370px;
  height: 200px;
  background-image: url(../Images/galeria6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 60px;
}
.img7 {
  width: 370px;
  height: 200px;
  background-image: url(../Images/galeria7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img8 {
  width: 370px;
  height: 200px;
  background-image: url(../Images/galeria8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.doces3 h2 {
  font-size: 48px;
  font-weight: 200;
  color: rgb(0, 101, 153);
  margin-top: 30px;
  margin-left: 65px;
}
.img9 {
  width: 280px;
  height: 200px;
  background-image: url(../Images/galeria9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 60px;
}
.img10 {
  width: 280px;
  height: 200px;
  background-image: url(../Images/galeria10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img11 {
  width: 280px;
  height: 200px;
  background-image: url(../Images/galeria11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img12 {
  width: 280px;
  height: 200px;
  background-image: url(../Images/galeria12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.formulario h2 {
  font-size: 48px;
  font-weight: 200;
  color: rgb(0, 101, 153);
  margin-top: 30px;
  margin-left: 65px;
  margin-bottom: 20px;
}
.formulario {
  width: 500px;
  height: 400px;
}
.for input {
  width: 500px;
  height: 45px;
  display: block;
  margin-left: 70px;
  padding: 10px;
  border: 1px solid #006599;
  font-size: 16px;
}
.for textarea {
  width: 100%;
  height: 180px;
  display: block;
  margin-left: 70px;
  padding: 10px;
  border: 1px solid #006599;
  font-size: 16px;
}
.btn2 {
  width: 180px;
  height: 50px;
  margin-left: 70px;
  margin-top: 20px;
  background-color: rgb(0, 101, 153);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
footer {
  height: 100px;
  padding-top: 150px;
  color: #006599;
  font-weight: bold;

  text-align: center;
}
