* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.sidebar {
  height: 100vh;
  width: 300px;
  background-color: rgb(0, 101, 153);
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  position: fixed;
}
.logo {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  cursor: pointer;
}
.content h1 {
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navegation ul > li {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.conteudo {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}
.banner {
  height: 500px;
  width: 85vw;
  background-image: url(../Images/banner2.jpg);
  background-size: cover;
  background-position: center;
}
.minibar {
  height: 400px;
  width: 300px;
  background-image: url(../Images/banner3.jpg);
  background-size: cover;
  background-position: center;
}
.bemVindo {
  font-size: 30px;
  color: rgb(0, 101, 153);
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 70px;
}
.bemVindo h1 {
  margin: 40px 0px 40px 0px;
}
.minibar-description {
  position: absolute;
  left: 370px;
  padding-right: 30px;
  padding-left: 30px;
}
.minibar-description p {
  font-size: 22px;
  color: black;
  margin-bottom: 30px;
}
.btn {
  width: 180px;
  height: 50px;
  background-color: rgb(0, 101, 153);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
